* {
    --text: #f3e5ff;
    --discrete-text: #bcb2c5;
    --background: #01000c;
    --primary: #7876fe;
    --secondary: #ad018d;
    --accent: #fe2977;

    --programming-label: #ad018d;
    --3d-model-label: #7876fe;
    --digital-art-label: #25B179;
    --inactive-label: #636363;

    --title-gradient: linear-gradient(130deg, #f3e5ff, #7876fe 6%, #ad018d 45%, #fe2977 75%, #f3e5ff);

    color: var(--discrete-text);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    background-attachment: fixed;
    background-size: cover;
    margin: 0
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    color: var(--discrete-text);

    text-align: center;
    vertical-align: middle;

    font-family: "Nunito", "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: clamp(5em, 8vw, 8em);
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
}

p {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-size: clamp(.9rem, .2rem + 3vw, 1.5rem);
    font-weight: 400;
    font-style: normal;
}

br::selection {
    color: transparent
}

#title {
    color: var(--text);
}

#title::selection {
    color: var(--accent);
}

#description {
    color: var(--discrete-text);
    transition: color 200ms ease;
}

#description:hover {
    color: var(--text);
    transition: color 100ms ease-out;
}

#description::selection {
    color: var(--primary);
}