* {
    --text: #f3e5ff;
    --discrete-text: #bcb2c5;
    --background: #010014;
    --primary: #7876fe;
    --secondary: #ad018d;
    --accent: #fe2977;
    --title-gradient: linear-gradient(130deg, #f3e5ff, #7876fe 6%, #ad018d 45%, #fe2977 75%, #f3e5ff);

    color: var(--text);
}

body {
    background: var(--background);
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: var(--discrete-text);

    text-align: center;
    vertical-align: middle;

    margin: 5%;

    font-family: "Nunito", "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 8em;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

p {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

button {
    background-color: transparent;
    border: 0;
    padding: 5px;
}

#header {
    position: sticky;
    top: 0;
}

#title {
    color: var(--text);
}

#title-shadow {
    /*Animation*/
    background: var(--text);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    background-image: var(--title-gradient);
    background-color: var(--background);
    animation: Glow 60s ease 0s infinite;

    position: absolute;
    height: fit-content;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    filter: blur(5px);
    transition: filter 500ms ease;
}

#title:hover~#title-shadow {
    filter: blur(10px);
    transition: filter 500ms ease;
}


#introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 6em;
}

#description {
    color: var(--discrete-text);
    max-width: 25em;
    margin: 0;
    transition: color 100ms ease;
}

#description:hover {
    color: var(--text);
    transition: color 50ms ease-out;
}

#description::selection {
    color: var(--primary);
}

#labels {
    border: 3px dashed var(--discrete-text);
    border-radius: 20px;
    padding: 2%;
    padding-bottom: 1%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#labels:hover {
    border-color: var(--text);
    transition: border-color 50ms ease-out;
}

#gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 15em;

    margin-right: 3em;
    margin-left: 3em;
    transition: margin-right 50ms ease-out, margin-left 50ms ease-out;
}

.thumbnail {
    height: 25em;

    border: 1px hidden var(--discrete-text);
    border-radius: 15px;

    box-shadow: 0px 2px 0px rgba(135, 123, 166, 0.256), 1px 0px 0px rgba(99, 91, 119, 0.088);

    margin-right: .5em;
    margin-left: .5em;
    margin-top: 1em;
    margin-bottom: 1em;

    scale: 1;
    transition: all 100ms ease-out !important;
}

.thumbnail:hover {
    scale: 1.1;
    border-radius: 10px;
    transition: all 50ms ease-out;
}


@keyframes Glow {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}